.container {
    color: #3a7ac9;
}

.navbar-nav{
    margin-left: 100px;
    margin-right: 100px;
}
.navbar-header {
    color: #5383d3;
    font-size: 1.5em;
    left: 
    
}
.panel-primary {
    font-family: sans-serif;
} 
.navbar-default {
    background-color:aliceblue;   
    color: black;
}
.navbar-brand  {
    
    font-size: 1.5em;
}
.col-md-12 {
    padding: 1em;
    
}

.col-lg-12 a{
    
}
footer {
font-size: 30px;
margin-top: 100px
}
.row {
    margin: 3.5em;
}

